/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: none;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	/*sets font family type, font size, and line height for the entire body section*/
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px; 
	line-height: 145%;
}


h1, h2, h3 {
	text-align: center;
	margin-bottom: 5px;
}

header {
	margin-top: 5px;
}

main {
	margin-top: 15px;
}

p {
	text-indent: 20px;
}

p:first-of-type { /*removes the indent from the first p element in the webpage*/
	text-indent: 0;
}

#intro {
	margin-bottom: 15px;
}

#how-does-it-work, #influence, #joke {
	margin-top: 15px;
}